.checkboxes {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: none;
  }

  &__wrapper label {
    display: block;
    margin: 0 8px 0 0;
    padding: 3px 16px 0;
    font-size: 16px;
    font-family: 'Kelson Sans', sans-serif;
    line-height: 30px;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    border: 1px solid #DFE1EA;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;

    @media (max-width: 575px) {
      font-size: 14px;
    }
  }

  &__wrapper input:checked + label {
    color: #FFFFFF;
    background-color: $brand;
    border-color: $brand;
  }
}
